$bigFont: 28px;
$mediumFont: 22px;
$smallFont: 16px;

$pageBackgroundColor: #666666;

* {
    font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
}

// Font sizing 
.bigFont { font-size: $bigFont; }
.mediumFont { font-size: $mediumFont }
.smallFont { font-size: $smallFont }

// Kanban styling 
.list {
    display: inline-block;

    width: 250px;
    height: auto;

    padding: 10px;
    margin-right: 10px;

    background-color: #333333;
    color: white; 

    .card {
        display: block;
    
        width: auto;
        height: auto;
    
        margin: 10px 0;
        padding: 10px;
    
        background-color: #000000;
        color: white;
    
        .cardBottomContent
        {
            margin-top: 5px;
    
            display: block;
            text-align: right;
    
            .cardDueDate {
                right: 15px;
                bottom: 15px;
            }
        }
    }
}

#wrapper {

    // Gives a bit of space around the lists 
    padding: 10px;

    // Universal page background color, basically 
    background-color: $pageBackgroundColor; 

    // TODO: Figure out why this is 70px and not 50px like I'd expect 
    height: calc(100vh - 70px);
}